# Python файлове
__pycache__/
*.pyc
*.pyo

# Виртуална среда
venv/

# База данни
*.db
backend/*.db

# Node.js модули
frontend/node_modules/

# Build файлове на фронтенда
frontend/dist/
frontend/build/

# IDE конфигурации
.vscode/
.idea/

# Кеширани Python файлове в бекенда
backend/__pycache__/
backend/*.pyc
backend/*.pyo

# Виртуална среда в бекенда
backend/venv/
